<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "DBExists" connectionString="server=localhost;userid=root;password=y4qWs9Jst725peQ^;database=LibraryManager;"/>
		<add name ="DBDoesNotExist" connectionString="server=localhost;userid=root;password=y4qWs9Jst725peQ^;"/>
	</connectionStrings>
		
</configuration>